       <!-- Content Wrapper -->
        <div class="content-wrapper two-cols-bg top-border">
            <h4>
                <span id="ctl00_Body_lblMessage"></span></h4>
            <!-- Widecolumn -->
            <div id="ctl00_Body_Dvwidecolumn" class="widecolumn fl">
                <!-- List Challenges -->
                <div class="list-challenges">
                    
                    <h3 id="ctl00_Body_ActiveCount"><%= @parsed_json["challenge"]["active"].size %> Active Challenges</h3>
                    
                            <!--<div style="text-align: center">
                                <b>No active challenge found.</b>
                            </div>-->

                            <% for c in @parsed_json["challenge"]["active"] %>
                            <div class="box">
                                <div class="box-b">
                                    <div class="box-t">
                                        <div class="col-left fl">
                                            <h4>
                                                <a href="challenge_detail.html?contestID=255"><%= c["name"] %></a></h4>
                                            <p><p><%= c["desc"][0..100] %>...</p>
                                        </div>
                                        <div class="col-right fr">
                                            <p id="ctl00_Body_Listviewpastchallenges_ctrl0_pwinstatus">
                                                <Strong><%= c["status"] %></Strong><br />
                                                $<%= c["prize"].to_i %>&nbsp;for
                                                <span id="ctl00_Body_Listviewpastchallenges_ctrl0_uc_challenge_categories1_spnCategories"><span class="brown">Salesforce.com</span>, <span class="yellow">Heroku</span>, <span class="red">Ruby</span>, <span class="green">Cloud Foundry</span></span>
                                                </strong><br />
                                                
                                            </p>
                                        </div>
                                        <div class="cl">
                                            &nbsp;</div>
                                    </div>
                                </div>
                            </div>
														<% end %>
                        
                </div>
                <!-- List Challenges -->
                <div class="list-challenges">
                    <a href="http://www.cloudspokes.com/challenges_of_user.html?username=<%= @parsed_json["profile"]["data"]["username"] %>&challengetype=past" id="ctl00_Body_aAllPastChallenges" class="fr">See All &raquo;</a>
                    <h3 id="ctl00_Body_PastCount"><%= @parsed_json["challenge"]["past"].size %> Past Challenges</h3>
                    
                            <div>
                            <% for c in @parsed_json["challenge"]["past"] %>
                            <div class="box">
                                <div class="box-b">
                                    <div class="box-t">
                                        <div class="col-left fl">
                                            <h4>
                                                <a href="challenge_detail.html?contestID=255"><%= c["name"] %></a></h4>
                                            <p><p><%= c["desc"][0..100] %>...</p>
                                        </div>
                                        <div class="col-right fr">
                                            <p id="ctl00_Body_Listviewpastchallenges_ctrl0_pwinstatus">
                                                <Strong><%= c["status"] %></Strong><br />
                                                $<%= c["prize"].to_i %>&nbsp;for
                                                <span id="ctl00_Body_Listviewpastchallenges_ctrl0_uc_challenge_categories1_spnCategories"><span class="brown">Salesforce.com</span>, <span class="yellow">Heroku</span>, <span class="red">Ruby</span>, <span class="green">Cloud Foundry</span></span>
                                                </strong><br />
                                                
                                            </p>
                                        </div>
                                        <div class="cl">
                                            &nbsp;</div>
                                    </div>
                                </div>
                            </div>
														<% end %>
                        
                            </div>
                        
                </div>
                <!-- END List Challenges -->
                <!-- Recommendations -->
                <div class="recommendations">
                    <ul>
                        <li class="recommend"><a href="give_recommendation.html?username=<%= @parsed_json["profile"]["data"]["username"] %>" id="ctl00_Body_arecommend1" rel="facebox">Recommend <%= @parsed_json["profile"]["data"]["username"] %></a></li>
                        <li class="last"></li>
                    </ul>
                    <h3 id="ctl00_Body_RecommendationCount"><%= @parsed_json["recommendation"]["data"].size %> Recommendations</h3>
                    
                           <% for r in @parsed_json["recommendation"]["data"] %> 
                            <div class="box">
                                <div class="box-b">
                                    <div class="box-t">
                                        <a href='profile.html?username=guptaatul' class="fl">
                                            <img width="49px" height="49px" src='http://cloudspokes.s3.amazonaws.com/Cloud_th_50.jpg'
                                                alt='guptaatul' /></a>
                                        <div class="text-holder fr">
                                            <div style="width: 480px; overflow-x: auto; overflow-y: hidden">
                                                <p style="padding-bottom: 15px"><%= r["text"]%></p>
                                            </div>
                                            <span><a href="profile.html?username=<%= r["from"]%>"><%= r["from"]%></a>,&nbsp;<%= Date.parse(r["date"]).strftime("%m/%d/%Y")%></span></div>
                                        <div class="cl">
                                            &nbsp;</div>
                                    </div>
                                </div>
                            </div>
													<% end %>
                        
                        
                </div>
                <!-- END Recommendations -->
            </div>
            <!-- END Widecolumn -->
            <!-- Sidebar -->
            <div id="ctl00_Body_Dvsidecolumn" class="sidebar fr">
                <!-- Profile -->
                <div class="profile">
										<% if @parsed_json["profile"]["data"]["profilepic"].nil? %>
										  <img src="http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg" id="ctl00_Body_imgProfile" class="fl" width="100" height="100" />
										<% else %>
										  <img src="<%= @parsed_json["profile"]["data"]["profilepic"] %>" id="ctl00_Body_imgProfile" class="fl" width="100" height="100" />
										<% end %>
                    <div class="profile-info fl">
                        <h4>
                            <span id="ctl00_Body_lblUserName"><%= @parsed_json["profile"]["data"]["username"] %></span></h4>
                        <span>
                            <span id="ctl00_Body_Labeljob"></span></span> <span>
                                <span id="ctl00_Body_lblLocation"><%= @parsed_json["profile"]["data"]["country"] %></span></span>
                    </div>
                    <div class="cl">
                        &nbsp;</div>
                    <p id="ctl00_Body_Haboutme">
                        <strong>About Me:</strong><span id="ctl00_Body_lblSummary"><%= @parsed_json["profile"]["data"]["aboutme"] %></span>
                        <a href="#" id="ctl00_Body_Areadall" style="display: none">Read All</a>
                        <br />
                        <strong>Quote:</strong><span id="ctl00_Body_lblQuote"><%= @parsed_json["profile"]["data"]["quote"] %></span>
                    </p>
                    <!-- Actions -->
                    <div class="actions">
                        <ul>
                            <li class="message" style="display: none"><a href="#">Send a Message</a></li>
                            <li class="recommend"><a href="http://www.cloudspokes.com/give_recommendation.html?username=<%= @parsed_json["profile"]["data"]["username"] %>" id="ctl00_Body_arecommend2" rel="facebox">Recommend</a></li>
                        </ul>
                        <div class="cl">
                            &nbsp;</div>
                    </div>
                    <!-- END Actions -->
                    <a href="allbadges.html">
                        <h3>
                            Stats &amp; Achievements</h3>
                    </a>
                    <!-- Stats -->
                    <div class="stats">
                        <ul>
                            
                                    
                                <li><strong><%= @parsed_json["profile"]["data"]["submissions"].to_i %></strong>Total Submissions</li>
                            
                                <li><strong><%= @parsed_json["profile"]["data"]["1places"].to_i %></strong># of 1st Places</li>
                            
                                <li><strong><%= @parsed_json["profile"]["data"]["2places"].to_i %></strong># of 2nd Places</li>
                            
                                <li><strong><%= @parsed_json["profile"]["data"]["3places"].to_i %></strong># of 3rd Places</li>
                            
                                <li><strong><%= @parsed_json["profile"]["data"]["entered"].to_i %></strong>Contests Entered</li>
                            
                                <li><strong><%= @parsed_json["profile"]["data"]["totalpoints"].to_i %></strong>Total Points</li>
                                
                                
                        </ul>
                    </div>
                    <!-- END Stats -->
                    <!-- Achievements -->
                    <div class="achievements">
                        <ul>
                            
                                    
                                    <li><a href="#" title="Head in the Clouds" class="trigger">
                                        <img src="http://cloudspokes.s3.amazonaws.com/achievement-badge-2.gif" alt="Head in the Clouds"
                                            height="45" width="40" />
                                    </a>
                                        <div class="badge-popup">
                                            <img src="http://cloudspokes.s3.amazonaws.com/achievement-badge-2.gif" alt="Head in the Clouds"
                                                class="thumb fr" />
                                            <div class="cl">
                                                &nbsp;</div>
                                            <img src="http://cloudspokes.s3.amazonaws.com/achievement-badge-5-big.gif" class="fl" alt="Head in the Clouds" />
                                            <div class="text-holder fl">
                                                <h4>
                                                    Head in the Clouds</h4>
                                                <p>
                                                    Joined CloudSpokes</p>
                                            </div>
                                            <div class="cl">
                                                &nbsp;</div>
                                            <!--
                                            <p class="see-all">
                                                <a href="#">See All Members with this badge &raquo;</a></p>
                                                -->
                                        </div>
                                    </li>
                                
                                    <li><a href="#" title="Joined the Party" class="trigger">
                                        <img src="http://cloudspokes.s3.amazonaws.com/achievement-badge-3.gif" alt="Joined the Party"
                                            height="45" width="40" />
                                    </a>
                                        <div class="badge-popup">
                                            <img src="http://cloudspokes.s3.amazonaws.com/achievement-badge-3.gif" alt="Joined the Party"
                                                class="thumb fr" />
                                            <div class="cl">
                                                &nbsp;</div>
                                            <img src="http://cloudspokes.s3.amazonaws.com/achievement-badge-5-big.gif" class="fl" alt="Joined the Party" />
                                            <div class="text-holder fl">
                                                <h4>
                                                    Joined the Party</h4>
                                                <p>
                                                    Joined the game by registering for a competition</p>
                                            </div>
                                            <div class="cl">
                                                &nbsp;</div>
                                            <!--
                                            <p class="see-all">
                                                <a href="#">See All Members with this badge &raquo;</a></p>
                                                -->
                                        </div>
                                    </li>
                                
                                    <li><a href="#" title="CloudSpoker Traveler" class="trigger">
                                        <img src="http://cloudspokes.s3.amazonaws.com/badges/traveler_badge.gif" alt="CloudSpoker Traveler"
                                            height="45" width="40" />
                                    </a>
                                        <div class="badge-popup">
                                            <img src="http://cloudspokes.s3.amazonaws.com/badges/traveler_badge.gif" alt="CloudSpoker Traveler"
                                                class="thumb fr" />
                                            <div class="cl">
                                                &nbsp;</div>
                                            <img src="http://cloudspokes.s3.amazonaws.com/badges/traveler_badge_big.gif" class="fl" alt="CloudSpoker Traveler" />
                                            <div class="text-holder fl">
                                                <h4>
                                                    CloudSpoker Traveler</h4>
                                                <p>
                                                    Awarded for winning at least one contest in the last year</p>
                                            </div>
                                            <div class="cl">
                                                &nbsp;</div>
                                            <!--
                                            <p class="see-all">
                                                <a href="#">See All Members with this badge &raquo;</a></p>
                                                -->
                                        </div>
                                    </li>
                                
                                    <li><a href="#" title="CloudSpoker" class="trigger">
                                        <img src="http://cloudspokes.s3.amazonaws.com/badges/cloudspoker.gif" alt="CloudSpoker"
                                            height="45" width="40" />
                                    </a>
                                        <div class="badge-popup">
                                            <img src="http://cloudspokes.s3.amazonaws.com/badges/cloudspoker.gif" alt="CloudSpoker"
                                                class="thumb fr" />
                                            <div class="cl">
                                                &nbsp;</div>
                                            <img src="http://cloudspokes.s3.amazonaws.com/badges/cloudspoker_big.gif" class="fl" alt="CloudSpoker" />
                                            <div class="text-holder fl">
                                                <h4>
                                                    CloudSpoker</h4>
                                                <p>
                                                    Awarded for submitting an acceptable entry.</p>
                                            </div>
                                            <div class="cl">
                                                &nbsp;</div>
                                            <!--
                                            <p class="see-all">
                                                <a href="#">See All Members with this badge &raquo;</a></p>
                                                -->
                                        </div>
                                    </li>
                                
                                
                        </ul>
                        <div class="cl">
                            &nbsp;</div>
                    </div>
                    <!-- END Achievements -->
                    <h3>
                        Social</h3>
                    <!-- Socials -->
                    <div class="socials">
                        <ul>
                            <% unless @parsed_json["profile"]["data"]["linkedin"].nil? %><li><a href="<%= @parsed_json["profile"]["data"]["linkedin"] %>" id="ctl00_Body_lnkProfileLinkedIn" target="_blank">
                                <img src="http://cloudspokes.s3.amazonaws.com/icon-socials-linkedin.gif" alt="" /></a></li><% end %>
                             <% unless @parsed_json["profile"]["data"]["facebook"].nil? %><li><a href="<%= @parsed_json["profile"]["data"]["facebook"] %>" id="ctl00_Body_lnkProfileFacebook" target="_blank">
                                <img src="http://cloudspokes.s3.amazonaws.com/icon-socials-facebook.gif" alt="" /></a></li><% end %>
                             <% unless @parsed_json["profile"]["data"]["twitter"].nil? %><li><a href="<%= @parsed_json["profile"]["data"]["twitter"] %>" id="ctl00_Body_lnkProfileTwitter" target="_blank">
                                <img src="http://cloudspokes.s3.amazonaws.com/icon-socials-twitter.gif" alt="" /></a></li><% end %>
                            <li></li>
                        </ul>
                        <div class="cl">
                            &nbsp;</div>
                        		<% unless @parsed_json["profile"]["data"]["website"].nil? %>
														<p><strong>Website:</strong> <a href="<%= @parsed_json["profile"]["data"]["website"] %>" id="ctl00_Body_lnkWebsite" target="_blank"><%= @parsed_json["profile"]["data"]["website"] %></a>
														<% end %>
                        </p>
                    </div>
                    <!-- END Socials -->
                </div>
                <!-- END Profile -->
            </div>
            <!-- END Sidebar -->
            <div class="cl">
                &nbsp;</div>
        </div>